<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.financemanager">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.income.IncomeActivity"
            android:parentActivityName=".screens.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".screens.income.AddIncomeActivity"
            android:parentActivityName=".screens.income.IncomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".screens.dailyExpense.DailyExpenseActivity"
            android:parentActivityName=".screens.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".screens.dailyExpense.AddDailyExpenseActivity"
            android:parentActivityName=".screens.dailyExpense.DailyExpenseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".screens.outlay.OutlayActivity"
            android:parentActivityName=".screens.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".screens.outlay.AddOutlayActivity"
            android:parentActivityName=".screens.outlay.OutlayActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        
        <activity
            android:name=".screens.category.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".screens.dailyExpense.AddDailyExpenseActivity"/>
        <activity
            android:parentActivityName=".screens.main.MainActivity"
            android:label="@string/app_name"
            android:name=".screens.statistic.StatisticActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>